@use 'variaveis';
@use 'hero';
@use 'episodes';
@use 'footer';
@use 'header';

@font-face {
    font-family: Amazon;
    src: url(../../assets/fonts/Amazon-Ember.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Amazon;
    src: url(../../assets/fonts/Amazon-Ember-Bold.ttf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Amazon, sans-serif;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 18px) {
    font-size: $fontSize;
    color: variaveis.$corTextoPrincipal;
}

.text--big {
    @include text(20px);
}

.text {
    @include text;
}

.text--small {
    @include text(16px)
}

.link-text {
    @include text(16px);
    color: variaveis.$corTextoPrincipal;
    text-decoration: underline;
}